{% extends 'base.html' %}

{% block content %}
    this is the question detail view

{# TODO: who posted it#}

{# TODO: what is the question#}
<h3>{{ question.question_html|safe }}</h3>

{# TODO: what is the answer#}
<h3>{{ question.answer_html|safe }}</h3>

{# TODO: what are comments?#}

{# TODO: show tags#}

{# COMPLETE: TO DO: add update button#}
<a href="{% url 'questions:update' pk=question.pk %}"> Update Question</a>

{# COMPLETE: TO DO: add delete button#}
<div class="media-footer">
{#	{% if user.is_authenticated and post.user == user and not hide_delete %}#}
        <a href="{% url 'questions:delete' pk=question.pk %}" title="delete" class="btn btn-simple">
            <span class="glyphicon glyphicon-remove text-danger" aria-hidden="true"></span>
            <span class="text-danger icon-label">Delete</span>
        </a>
{#	{% endif %}#}
</div>


{# COMPLETE: TO DO: add "return to list view" button #}
<a href="{% url "questions:all" %}">Return to list view</a>

{% endblock %}







