{% extends 'base.html' %}

{% block content %}
    this is the question detail view

{# TODO: who posted it#}

{# TODO: what is the question#}
<h3>{{ question.question_html|safe }}</h3>

{# TODO: what is the answer#}
<h3>{{ question.answer_html|safe }}</h3>

{# TODO: what are comments?#}
{# TODO: show tags#}
{# TODO: be able to suggest edits#}
<a href="{% url 'questions:update' pk=question.pk %}"> Update Question</a>


{% endblock %}

{#{% block post_content %}#}
{#<div class="col-md-8">#}
{#    {% include "questions/_question.html" %}#}
{##}
{#</div>#}
{#{% endblock %}#}





